@model IEnumerable<AgenciaDeViagens.Models.Passagem>

@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="autor" content="Luciana Meireles">
    <meta name="palavra-chave" content="html5,viagens">
    <title>Promoções e Pacotes - Eco Tour</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<!--PÁGINA PROMOÇÕES INÍCIO-->
<body>
    <h1>Promoções e Pacotes</h1>
    <hr>
    <div class="card mb-3">
        <img src="~/Imagem/jalapao.jpg" class="card-img-top" alt="Jalapão">
        <div class="card-body">
            <h5 class="card-title">Viagem inesquecível é com a gente!</h5>
            <p class="card-text">
                Aqui, na Eco Tour você visita os lugares mais lindos do Brasil e faz um ecoturismo bem radical.
                Contamos com serviços de hospedagem, guia turístico e instrutores treinados para proporcionar o melhor ecoturismo.
            </p>
        </div>
    </div>
    <p>
        <a asp-action="Create">Compre seu pacote</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Destino)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Preco)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataPartida)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Agencia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cliente)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Destino)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Preco)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataPartida)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Agencia.Endereco)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cliente.Nome)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <footer id="rodape" class="border-top footer text-muted">
        <div class="container text-center">
            <p>&copy; 2021 - AgenciaDeViagens </p>
        </div>
    </footer>
</body>
</html>