@model IEnumerable<AgenciaDeViagens.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="autor" content="Luciana Meireles">
    <meta name="palavra-chave" content="html5,viagens">
    <title>Promoções e Pacotes - Eco Tour</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<!--PÁGINA CADASTRO CLIENTE-->
<body>
    <h1>Crie sua conta</h1>
    <p>
        <a asp-action="Create">Criar</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Endereco)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Endereco)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <footer id="rodape" class="border-top footer text-muted">
        <div class="container text-center">
            <p>&copy; 2021 - AgenciaDeViagens </p>
        </div>
    </footer>
</body>
</html>
